.counters-section {
    min-width: 120px;
    max-width: 140px;
    color: var(--bs-gray-800);

    &:hover {
        color: #{darken($gray-800, 20%)};
    }

    i {
        color: #ED7800;
        font-size: 2rem;
    }
}

.counters-label {
    line-height: 1.25;
}
