<div class="home-news-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <ds-text-section *ngIf="hasHomeNewsMetadata; else dsDefaultHomeNews" [sectionId]="'site'" [textRowSection]="homeNewsSection"
                              [site]="(site$ | async)"></ds-text-section>
    </div>
  </div>
</div>

<ng-template #dsDefaultHomeNews>
  <div class="d-flex flex-wrap">
    <div>
      <h1 class="display-6"> El Sistema de Información Científica USACH se encuentra en proceso de mejora continua. Algunas secciones pueden presentar cambios o estar en construcción.
      </h1>
    </div>
  </div>



</ng-template>
