:host {
  display: block;

  div.home-news-container {
    background-color: #C0E5E5;
    color: var(--bs-body-color);
    position: relative;
    font-weight: 600;

    .container {
      position: relative;
      background-color: transparent;
    }
  }

  .jumbotron {
    background-color: transparent;
  }

  a {
    color: var(--ds-home-news-link-color);

    @include hover {
      color: var(--ds-home-news-link-hover-color);
    }
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

